.image-container{
    position: relative;
}
.overlayBlog{
    position: absolute;
    top: 550px;
    bottom: 0;
    left: 50px;
    right: 0;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.contentBlog h1{
    font-size: 4em;
}
.contentBlog p{
    font-size: 1.3em;
}

#imgBlog img{
    height: 300px;
    width: 600px;
}

.card img{
    height: 250px;
}